DATABASE_URL=jdbc:postgresql://localhost:5432/cinema
DATABASE_USER=REDACTED
DATABASE_PASSWORD=REDACTED

JWT_SECRET_KEY=REDACTED

SECURITY_COOKIE_SECURE=true
SECURITY_COOKIE_SAME_SITE=LAX

SECURITY_MAX_ATTEMPTS=5
SECURITY_WEBSITE_DOMAIN=http://localhost:4200

BOOTSTRAP_OWNER_USERNAME=admin
BOOTSTRAP_OWNER_PASSWORD=Redacted1!
BOOTSTRAP_OWNER_EMAIL=owner@example.com
BOOTSTRAP_OWNER_FIRST_NAME=Ion
BOOTSTRAP_OWNER_LAST_NAME=Popescu
BOOTSTRAP_OWNER_PHONE_NUMBER=0777777777